In [13]:
from mysql.connector import (connection)

cnx = connection.MySQLConnection(user='root', password='root', host='localhost', database='mydoc')

In [17]:
query = "SELECT * FROM doctors"

with cnx.cursor() as cursor:
    cursor.execute(query)
    result = cursor.fetchall()
    
result

[(1,
  '8507234666',
  datetime.date(2000, 7, 17),
  247861.0,
  'MBBS',
  'Music Academy "Stanislaw Moniuszko" in Gdansk'),
 (2,
  '1943631492',
  datetime.date(2005, 5, 18),
  485182.0,
  'MBBS',
  "Banat's University of Agricultural Sciences"),
 (3,
  '5785603004',
  datetime.date(2015, 3, 16),
  339995.0,
  'MBBS',
  'Samara State University of Economics'),
 (4,
  '5258386953',
  datetime.date(2008, 5, 11),
  381162.0,
  'MD',
  'Xiangtan Normal University'),
 (5,
  '7473405942',
  datetime.date(2013, 11, 13),
  291262.0,
  'MBBS',
  'University of Craiova'),
 (6,
  '1511663650',
  datetime.date(2009, 1, 14),
  251880.0,
  'MBBS',
  'Chengdu University of Traditional Chinese Medicine'),
 (7,
  '6650997838',
  datetime.date(2005, 9, 23),
  425248.0,
  'MD',
  'Nangarhar University'),
 (8,
  '9187977524',
  datetime.date(2010, 2, 8),
  325050.0,
  'MBBS',
  'Universidad Nacional del Centro del Perú'),
 (9,
  '1974558517',
  datetime.date(2009, 11, 13),
  468078.0,
  'MBBS',
  'Acharya Ranga Agricultural University'),
 (10,
  '0855849169',
  datetime.date(2021, 2, 15),
  268546.0,
  'MD',
  'Fachhochschule Schwäbisch Hall, Hochschule für Gestaltung'),
 (11,
  '2158190930',
  datetime.date(2003, 6, 22),
  450715.0,
  'MBBS',
  'University Centre of the Westfjords'),
 (12,
  '7855691715',
  datetime.date(2014, 11, 11),
  219128.0,
  'MBBS',
  'Tianjin Normal University'),
 (13,
  '9009148270',
  datetime.date(2005, 10, 25),
  288697.0,
  'MD',
  'Jilin Agricultural University'),
 (14,
  '1091272352',
  datetime.date(2002, 3, 26),
  487531.0,
  'MD',
  'Anna University'),
 (15,
  '8603557403',
  datetime.date(2017, 1, 2),
  365411.0,
  'MD',
  'Christian-Albrechts-Universität Kiel'),
 (16,
  '4355932109',
  datetime.date(2002, 9, 28),
  219228.0,
  'MBBS',
  'Azerbaijan National Conservatorie'),
 (17,
  '7641722520',
  datetime.date(2000, 5, 14),
  419869.0,
  'MD',
  'University of Grigol Robakidze'),
 (18,
  '8060938851',
  datetime.date(2003, 3, 11),
  329962.0,
  'MD',
  'Kochi Medical School'),
 (19,
  '1691919217',
  datetime.date(2020, 7, 31),
  431725.0,
  'MBBS',
  'University of Seychelles'),
 (20,
  '3440445240',
  datetime.date(2000, 3, 16),
  321145.0,
  'MBBS',
  'Ferris State University'),
 (21,
  '2513302451',
  datetime.date(2010, 9, 25),
  388625.0,
  'MD',
  'Poznan School of Banking')]

AttributeError: 'list' object has no attribute 'show'